.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FF6D00;
    padding-top: 10px;
    padding-bottom: 10px ;
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-link a{
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    cursor: pointer;
}
.nav-link a:hover{
    color: #33691E;
    text-decoration: none;
}